<div class="contact" id="contact">
  <h2>Contact</h2>
  <p>Let's connect! I'm open to collaborations or discussions about AI, Agentic systems, and web development.</p>

  <div class="social-icons">
    <a href="https://www.linkedin.com/in/bhaveshnt/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://github.com/bhavesh-sagar" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://mail.google.com/mail/?view=cm&to=bhaveshnt00@gmail.com" target="_blank"><i
        class="fas fa-envelope"></i></a>
  </div>
</div>