<div class="about">
  <h2>About Me</h2>
  <br>
  <p class="intro">
    I'm a passionate developer with hands-on experience in building agents and interactive user interfaces. 
    <br><br>
    My journey as Digital Specialist Engineer with <strong>3.10+ years of experience</strong> in <strong>Python Full Stack Web Development</strong>, <strong>Agentic AI</strong>, and <strong>Angular UI Development</strong>.
    Skilled in developing responsive web applications using Angular, HTML, TypeScript, CSS, and Bootstrap, along with backend API development and debugging. 
    Proficient in <b>Python</b>, <b>Java</b>, <b>MySQL</b>, and modern web technologies. 
    Experienced in <strong>Agentic AI</strong>systems, building <strong>MCP servers</strong>, automating workflows through Python scripting, and developing <b>AI agents</b> using <strong>Google ADK</strong> and <strong>LangGraph</strong> frameworks. 
    <br><br>Strong problem-solving, team leadership, and project management skills with a passion for building scalable and intelligent applications.
    <br><br>
    Always eager to learn, and collaborate on projects that push the boundaries.
  </p>
</div>